html, body, div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #181818;
}
#root {
    /* padding-top: 56px; */
    height: calc(100% - 56px);
}


ul, li {
    list-style: none;
}




#titlebar{
    position: fixed;
    top:0;
    height: 56px;
    width: 100%;
}
#navigationbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    padding-top: 56px;
}
#contents {
    margin-top: 56px;
    margin-left: 240px;
    height: 50%;
}